.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-ico-cart {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-ico-cart {
    width: 21px;
    height: 20px;
    background-position: -5px -45px;
}

.sprite-ico-cart-copy {
    width: 21px;
    height: 20px;
    background-position: -5px -75px;
}

.sprite-ico-cartfeel {
    width: 16px;
    height: 11px;
    background-position: -5px -105px;
}

.sprite-ico-cartfeel {
    width: 16px;
    height: 11px;
    background-position: -10px -131px;
}

.sprite-ico-f {
    width: 32px;
    height: 32px;
    background-position: -5px -157px;
}

.sprite-ico-f {
    width: 32px;
    height: 32px;
    background-position: -10px -204px;
}

.sprite-ico-inst {
    width: 32px;
    height: 32px;
    background-position: -5px -251px;
}

.sprite-ico-inst {
    width: 32px;
    height: 32px;
    background-position: -10px -298px;
}

.sprite-ico-login {
    width: 21px;
    height: 19px;
    background-position: -5px -345px;
}

.sprite-ico-login {
    width: 21px;
    height: 19px;
    background-position: -10px -379px;
}

.sprite-ico-next {
    width: 9px;
    height: 14px;
    background-position: -10px -418px;
}

.sprite-ico-next {
    width: 9px;
    height: 14px;
    background-position: -5px -447px;
}

.sprite-ico-prev {
    width: 9px;
    height: 14px;
    background-position: -10px -476px;
}

.sprite-ico-prev {
    width: 9px;
    height: 14px;
    background-position: -5px -505px;
}

.sprite-ico-seaech {
    width: 17px;
    height: 17px;
    background-position: -10px -534px;
}

.sprite-ico-seaech {
    width: 17px;
    height: 17px;
    background-position: -5px -566px;
}

.sprite-ico-search-copy {
    width: 17px;
    height: 17px;
    background-position: -5px -593px;
}

.sprite-ico-tw {
    width: 33px;
    height: 32px;
    background-position: -10px -625px;
}

.sprite-ico-tw {
    width: 33px;
    height: 32px;
    background-position: -5px -672px;
}

.sprite-ico-vk {
    width: 32px;
    height: 32px;
    background-position: -10px -719px;
}

.sprite-ico-vk {
    width: 32px;
    height: 32px;
    background-position: -5px -766px;
}

.sprite-icon-ligin-copy {
    width: 21px;
    height: 19px;
    background-position: -5px -808px;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  margin-top:0;
  margin-bottom:0;
  margin-left: auto;
  margin-right: auto;
  background: green;
  padding: 0;

}
html {
  padding:  0;
  margin: 0;
}
h1 {
   font-size: 60px;
   line-height: 60.35px;
   /*color: #ffffff;*/
   font-weight: bold;
}
h2 {
  font-size: 35px;
  line-height: 41px;
  /*color: #ffffff;*/
  font-weight: bold;
}
h3{
  font-size:24px;
  line-height: 30px;
}

.conteiner {
   width: 1146px;
   margin-left: auto;
   margin-right:auto;
   background: #849d8f;
   padding-left: 27px;
   padding-right: 27px;
}

.main-header {
  /*background: gray;*/
  margin-bottom: 272px;
}
.clearfix::after{
   content: "";
   display:table;
   clear:both;
}
.index-logo {
   margin-top:5px;
   margin-left:-5px;
   float:left;
   margin-right: 17px;

}
.main-menu {
  margin: 0;
  padding: 0;
  /*background:green;*/
  margin-top: 23px;
}


.main-menu > li {
   display: inline-block;
   verticsl-align: top;
   position: relative;
   margin: 0;
   padding: 0;
}

.main-menu>li>a {
  display:block;
  font-weight: 700;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius:20px;
  /*background: #fff;*/
}

.main-menu > li:hover .sub-menu {
    display: block;
}
.main-menu > li > a:hover {
  background: #f7f6f3;
  text-decoration: none;
  color: #333333;
}


.sub-menu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #f8f7f4;
  width: 143px;
  top: 36px;
  left: -8px;
  border-radius:5px;
}


.sub-menu li {
  padding-top: 1px;
  padding-bottom: 4px;
}
.sub-menu Li a {
  display:block;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #323232;
  padding-left: 19px;
  padding-right: 22px;
  /*background: lightgray;*/
  padding-top: 6px;
  padding-bottom: 6px;
  }
.sub-menu li a:hover {
  backgound: red;
}

.sub-menu li:first-child a {
  font-weight: 700;
  border-bottom:1px solid #d1d0ce;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sub-menu li:first-child {
  padding-top: 0px;
  padding-bottom: 0px;
}
.sub-menu li:last-child {
  padding-bottom: 6px;
}

/*.search-form,*/
.form-door {
  display: none;
}
.main-navigation {
  float:left;
  width:425px;
}
.user-block {
  position: relative;
  float: right;
  max-width: 267px;
  margin-top:23px;
}
.search-product,
.door,
.cart-buy {
  display: inline-block;
}
.search-product, .door {
    margin-right: 6px;
}
.search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  border-radius:50%;
  font-size: 0;
  background: #a1b4a9;

  /*background: #373737;*/
}
.search::before {
  content: "";
  position: absolute;
  top:7px;
  left:7px;
  width: 17px;
  height: 17px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -534px;
}
.search:hover  {
  background: #f8f7f4 url("../img/sprite.png") no-repeat;
  background-position: -5px -593px;

}
/*.search:hover .search-form {*/
    /*display: block;*/
/*}*/
.search-form {
    /*display: none;*/
    width: 310px;
    position: absolute;
    right: 234px;
    top: 36px;
    padding: 20px 15px;
    background: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 30px 1px rgba(0, 0, 0, 0.4);
}
 input[type="search"]  {
  width: 100%;
  padding: 9px 15px;
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  line-height:24px;
  box-sizing: border-box;
}
.login {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 7px 15px;
    padding-left: 42px;
    font-size: 16px;
    line-height: 18px;
    color: #fefefe;
    text-decoration: none;
    background: #9db1a5;
    /*background: #373737;*/
    border-radius: 20px;
}
.login::before {
  content: "";
  position: absolute;
  top:6px;
  left:16px;
  width: 21px;
  height: 19px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -345px;
}
.login:hover {

  background: #f8f7f4 url("../img/sprite.png") no-repeat;
  background-position: -5px -808px;
    color: #373737;
}
.cart {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 7px 34px;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  color: #fefefe;
  text-decoration: none;
  background: #9db1a5;
  /*background: #373737;*/
  border-radius: 20px;
}
.cart::before {
  content: "";
  position: absolute;
  top:6px;
  left:16px;
  width: 21px;
  height: 19px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -45px;
}



.main-contacts {
    position: absolute;
    right: 0;
    top: 180px;
    background: green;
    width: 170px;
}
main {
  padding-bottom: 40px;
  background: #849d8f;
}
.product-show {
     background: lightgray;
     text-align:center;
     margin-bottom:40px;
     height: 195px;
   }
   .product-show h1 {
     width:670px;
     margin-left:auto;
     margin-right:auto;
     text-align:center;
     margin-bottom:7px;
   }
   .giv-both {
     display:inline-block;
     width:275px;
     height:62px;
     margin-bottom: 40px;

   }
   .give-both a {
     font-size:32px;
     line-heught:44px;
     font-weight:bold;
    text-decoration: none;
    padding:12px 40px;
    color:#fff;
    border-radius:35px;
    box-shadow: 0 2px 2px 1px rgba(172, 16, 0, 0.64);
    text-shadow: 0 2px 5px  rgba(160, 32, 11, 0.76);
    background-image: linear-gradient(#f26843, #e74b36);
    margin-bottom:40px;
  }
  .slider-main a{
}
.pleasure-item p, .pleasure-item h2 {
  color:white;
}
  .pleasure {
    margin-bottom: 40px;
  }
  .pleasure-item:first-child {
    float:left;
    background-image: url("../img/bg1.jpg");
  }
  .pleasure-item {
    float: right;
    width: 560px;
    height: 228px;
    background: gray;
    position: relative;
    border-radius: 15px;
    background-image: url("../img/bg2.jpg");
    margin-bottom: 40px;
  }
  .pleasure-item p, .pleasure-item h2 {
  color:white;
}

  .pleasure-item p {
   width: 511px;
   margin-left: 18px;
   margin-top:-14px;
   font-size: 18px;
   font-weight: bold;
   line-height: 22px;
   color:fff;
}
.pleasure-item a {
  font-size:18px;
  line-heught:24px;
  font-weight:bold;
  text-decoration: none;
  padding:10px 23px;
  color:#fff;
  border-radius:35px;
  box-shadow: 0 2px 2px 1px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px  rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(#f26843, #e74b36);
}
.present {
  margin-left: 20px;
  margin-top:-12px;
}
.give-present {
  position: absolute;
  right: 20px;
  bottom: 30px;
}
.list-product {
  background: gray;
  margin-bottom: 20px;
}


.product {
    float: left;
    width:267px;
    height:340px;
    margin-right:26px;
    position:relative;
    background:lightgray;
}
.product:last-child {
    float: right;
    margin-right: 0;
}
  .product .hit {
    position: absolute;
    top: 10px;
}
.price-item {
  position: absolute;
  top: 190px;
}
.features {
    background-image: url("../img/cell.jpg.");
    margin-bottom: 40px;
    padding-top:4px;
    padding-bottom:2px;
    padding-left:20px;
    padding-right:10px;
    border-radius: 15px;
  }
  .features h3 {
    margin-bottom:5px;
  }
  .place-features {
    float:left;
    width:550px;
    margin-right: 16px;
    /*background: green;*/
  }
  .place-features:last-child{
    float: right;
    margin-right: 0;
  }
.place-features p {
    margin-left:58px;
    /*background: gray;*/
    padding-bottom: 5px;
}
.ours-news {
  /*background:lightgray;*/
  /*margin-bottom: 40px;*/
}
.ours-news .news {
   width:540px;
   float:left;
   background-image: url("../img/Strawberry.jpg.");
   border-radius: 15px;
   padding-left: 20px;
   padding-top: 6px;
   padding-bottom: 82px;
}
.news p {
   font-weight: 400;
   margin-bottom: 4px;
}
.news a {
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
   color: #323232;
}
.recipes {
    /*background:gray;*/
}
.decoration {
  float: right;
   background-image: url("../img/post.png.");
   width: 560px;
   height:220px;
   border-radius: 15px;
   position: relative;
}
.ours-news .subscription-block {
   width: 530px;
   height: 200px;
   background: #f8f7f4;;
   border-radius: 15px;
   padding-top: 12px;
   padding-left: 20px;
   position: absolute;
   right:5px;
   bottom: 5px;

}
.subscription-block p {
    color: #5a5a5a;
    margin-bottom: 36px;
}
.subscription,
.subscription-send {
   display: inline-block;
   ertical-alighn: middle;
}
.subscription {
  width: 365px;
  margin-right:12px;
}
.subscription-block input[type="text"] {
    width: 100%;
    padding: 8px 15px;
    color: #666666;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 18px;
    line-height:24px;
    box-sizing: border-box;

}
input[type="button"] {
  font-size:18px;
  line-heught:24px;
  font-weight:bold;
 padding:10px 20px;
 color: #fefefe;
 border-radius:35px;
 box-shadow: 0 2px 2px 1px rgba(172, 16, 0, 0.64);
 text-shadow: 0 1px 5px  rgba(160, 32, 11, 0.76);
 background-image: linear-gradient(#f26843, #e74b36);

}

.main-map {
     height:430px;
     background-image: url("../img/layer3.png.");
     margin-top:0px;
     position: relative;
}
   .dark-glass{
     display: none;
}
.map-contacts {
     width:300px;
     height:305px;
     background: #fff;
     position: absolute;
     left:875px;
     top: 62px;
}
   .footer-social {
    float: left;
    width: 267px;
    margin-right: 132px;
}
.footer-menu {
  float: left;
    width: 328px;
    background: lightgray;
}
.footer-menu a {

  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

}
/*потом убрать*/
.for-suppliers,
.on-production,
.our-documentation,
.ekostandartam {
  background: green;
}

.production {
  float: left;
  width: 135px;
}
.production a {
  margin-left: 22px;
}

.documentation {
  widh: 180px;
  float: right;
}
 .footer-info {
   float: right;
   width: 192px;
   font-size:12px;
   lineheight:18px;
}
