
body {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: regular;
  font-family: Roboto, Arial, sans-serif;
}
h1 {
   font-size: 60px;
   line-height: 60.35px;
   /*color: #ffffff;*/
   font-weight: bold;
}
h2 {
  font-size: 35px;
  line-height: 41px;
  /*color: #ffffff;*/
  font-weight: bold;
}
h3{
  font-size:24px;
  line-height: 30px;
}

.conteiner {
   width:1146px;
   min-height: 50px;
   padding-left:27px;
   padding-right:27px;
   padding-top:10px;
   background: #849d8f;
}

.main-header {
  margin-bottom: 285px;
  background: gray;
}
  .clearfix::after{
    content: "";
    display:table;
    clear:both;
}
   .index-logo {
     width:165px;
   float:left;
 }

.main-menu ul,
.search-form,
.form-door {
  display: none;
}
.main-navigation {
  float: left;
  width:400px;

     /*только для сетки*/
   }
   .main-menu>li {
     display: inline-block;
   }
   .user-block {
     float: right;
 }
 .search-product,
 .door,
 .cart-buy {
   display:inline-block;
 }
 .main-contact {
     position:absolute;
     left: 1010px;
   top:80px;
     background:green;
     width: 170px;
   }
   .main-contact p {
     margin: -5px 0;
   }

   .product-show {
     min-height:207px;
     background: lightgray;
     text-align:center;
     margin-bottom:40px;
   }
   .product-show .cream {
    width:680px;
    margin-left:auto;
    margin-right:auto;
  }
  .list-product {
    background:gray;
  }
  .product {
    float:left;
    width:267px;
    height:340px;
    background: lightgray;
  }
   .giv-both {
     display:inline-block;
     width:275px;
     height:62px;
     background: gray;
   }
   .give-both a {
     font-size:32px;
     line-heught:44px;
     font-weight:bold;
    text-decoration: none;
    padding:12px 40px;
    color:#fff;
    border-radius:35px;
    box-shadow: 0 2px 2px 1px rgba(172, 16, 0, 0.64);
    text-shadow: 0 2px 5px  rgba(160, 32, 11, 0.76);
    /*text-shadow: 30px 30px 1px #111111;*/
    background-image: linear-gradient(#f26843, #e74b36);
  }
   .pleasure-item p,
   .pleasure-item h2 {
   color:white;
 }
   .pleasure {
     margin-bottom: 40px;
   }
   .pleasure-item:first-child {
     float:left;
   }
   .pleasure-item {
     float: right;
     width: 560px;
     height: 226px;
     background: gray;
     position: relative;
   }

   .pleasure-item p {
    width: 511px;
    margin-left: 18px;
    margin-top:-14px;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color:fff;
  }
   .pleasure-item a {
   font-size:18px;
   line-heught:24px;
   font-weight:bold;
   text-decoration: none;
   padding:10px 23px;
   color:#fff;
   border-radius:35px;
   box-shadow: 0 2px 2px 1px rgba(172, 16, 0, 0.64);
   text-shadow: 0 2px 5px  rgba(160, 32, 11, 0.76);
   background-image: linear-gradient(#f26843, #e74b36);
 }

   .give-present {
     position: absolute;
     right: 20px;
     bottom: 30px;
    .product {
     display:inline-block;
     width:267px;
     height:330px;
     margin-right:21px;
     position:relative;
     background:lightgray;
   }
   .product {
     float:left:
     width:267px;
     height:340px;
     bacground:gray;
   }
